* {
  box-sizing: border-box;
}

body {
  color: #333;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

// fullscreen
html,
body,
#main,
.queso {
  height: 100%;
}
