.control-panel {
  height: @control-panel-height;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: @active-color;
  text-align: center;
  line-height: 1.4;
  padding: 10px;
}

.piano-keyboard {
  margin: 10px auto !important;
}

.piano-keyboard * {
  box-sizing: content-box;
}
