@header-height: 58px;
@control-panel-height: 240px;
@track-list-height: calc(100% ~"-" @header-height ~"-" @control-panel-height);;

.header {
  padding: 10px;
  border-bottom: 1px solid @detail-color;

  .button {
    margin-right: 10px;
  }
}
