.track-list {
  height: @track-list-height;
  overflow-y: auto;
}

.track, .add-track {
  height: 80px;
  width: 100%;
  border-bottom: 1px solid @detail-color;
  &.is-recording {
    background-color: lighten(@red, 35%);
  }
}

.track-selected {
  background-color: @active-color;
}

@track-info-width: 160px;

.track-sounds {
  width: calc(100% ~"-" @track-info-width);
  height: 100%;
  clear: both;
  float: left;
  overflow: auto;
}

.track-info {
  width: @track-info-width;
  height: 100%;
  padding: 10px;
  float: right;
  border-left: 1px solid @detail-color;
}

.track-info-title {}

.add-track {
  display: table;
  color: #FFF;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  div {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }
}

.the-tracks {
  position: relative;
}

.current-time-bar {
  position: absolute;
  top: 0;
  left: 0; /* later overridden by js */
  width: 2px;
  background-color: #423A4B;
  height: 100%;
}
