.track-list {
  height: @track-list-height;
  overflow-y: auto;
}

.track {
  height: 80px;
  width: 100%;
  border-top: 1px solid @gray;
}

.track-selected {
  background-color: @silver;
}

@track-info-width: 160px;

.track-sounds {
  width: calc(100% ~"-" @track-info-width);
  height: 100%;
  clear: both;
  float: left;
}

.track-info {
  width: @track-info-width;
  color: @blue;
  height: 100%;
  padding: 10px;
  float: right;
  border-left: 1px solid @gray;
}
